body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'PermanentMarker';
  src: url(./fonts/PermanentMarker.ttf);
}

.drawing-canvas {
  position: relative;
  touch-action: none;
  border: 2px solid red;
  width: 400px;
  height: 400px;
}

.drawing-canvas > canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.drawing-canvas > canvas:first-child {
  position: relative;
}
